<section id="edit-page">
    <div class="edit-container">
        <div class="box-image">

        </div>
        <h2 class="box-heading">
            Edit Home
        </h2>

       <form class="form" method="POST">

            <div class="input">
                <input type="text" class="input-field" id="home-name" placeholder="Real House Luxury Villa..." name="name" value="{{estate.name}}" />
                <label class="home-name">Name:</label>
            </div>

            <div class="input">
                <input type="text" class="input-field" id="type" placeholder="Villa..." name="type" value="{{estate.type}}" />
                <label class="type">Property Type:</label>
            </div>

            <div class="input">
                <input type="number" class="input-field" id="year" placeholder="2018..." name="year" value="{{estate.year}}" />
                <label class="year">Year Built:</label>
            </div>

            <div class="input">
                <input type="text" class="input-field" id="city" placeholder="Sofia..." name="city" value="{{estate.city}}" />
                <label class="city">City</label>
            </div>

            <div class="input">
                <input type="text" class="input-field" id="homeImage" placeholder="Image..." name="image" value="{{estate.image}}" />
                <label class="homeImage">Home Image:</label>
            </div>

            <div class="input">
                <input type="text" class="input-field" id="description" placeholder="Description..." name="description" value="{{estate.description}}" />
                <label class="description">Property Description:</label>
            </div>

            <div class="input">
                <input type="number" class="input-field" id="availablePieces" placeholder="1" name="pieces" value="{{estate.pieces}}" />
                <label class="availablePieces">Available pieces:</label>
            </div>

            <div class="create-action">
                <button class="create-button">Edit</button>
            </div>
        </form>
    </div>
</section>