<li>
    <img src="{{imageUrl}}"
        alt="{{name}}" />
    <h3>{{name}}</h3>
    <p><span>Breed: </span>{{breed}}</p>
    <p>
        <span>Description: </span>{{description}}
    </p>
    <ul class="buttons">
        <li class="btn edit"><a href="cats/{{_id}}/edit">Change Info</a></li>
        <li class="btn delete"><a href="/cats/{{_id}}">New Home</a></li>
    </ul>
</li>