<div class="coin">
    <div class="coin-img">
        <img src="{{imageUrl}}">
    </div>
    <div class="coin-info">
        <h1>{{name}}</h1>
        <p><span>Price: </span>${{price}}</p>
        <p><span>Payment: </span>{{payment}}</p>
    </div>

    <a href="/crypto/{{_id}}/details" class="btn-details">Details</a>
</div>