<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>{{title}}</title>

	<link href="/static/css/style.css" type="text/css" rel="stylesheet">
</head>

<body>

	<div id="box">

		{{#if errors}}
			<div class="error-container">
				{{#each errors}}
					<p>{{this}}</p>
				{{/each}}
			</div>
		{{/if}}

		<nav>
			<img src="/static/img/logo.png" alt="logo">

			<ul class="menu">
				<li><a href="/">Home</a></li>
				<li><a href="/catalog">All Posts</a></li>
				{{#if email}}
					<li><a href="/posts/create">Create Post</a></li>
					<li><a href="/posts/profile">Posts of {{email}}</a></li>
					<li><a href="/auth/logout">Logout</a></li>
				{{else}}
					<li><a href="/auth/register">Register</a></li>
					<li><a href="/auth/login">Login</a></li>
				{{/if}}
			</ul>

		</nav>

		<main>
			{{{body}}}
		</main>


		<footer>
			© Js Back-End Exam 2021
		</footer>
	</div>


</body>

</html>